
.blue{
	width: 90%;
	height: 0.9rem;
	position: fixed;
	left: 5%;
	bottom: 0.5rem;
	border:none;
	color: #fff;
	background: #12B7F5;
}
.mui-btn,button{
	-webkit-transition: none;
	transition: none;
}
.blue:enabled:active{
	background: dodgerblue;
}





























